.revenue-body {
  height: 100vh;
  padding: 80px 0 0 230px;

}

.revenue-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  background-color: white;
  position: relative;
  z-index: 1;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  

  border: 1px solid red;
  height: 100%;
  width:auto;
  padding: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 150px;
}



.revenue-wrapper .revenue-per-dep-cont {
  display: flex;  
  width: auto;
  height: 30%;
  margin: 5px;

}

.revenue-wrapper .revenue-per-dep-cont .rev-per-dep {

  margin: 0 20px;
  padding: 20px;
  width:100%;
  height: 30%;
}

.revenue-wrapper .top-sold-products-cont .top-sold-products{
  padding: 10px;
  width: 100%;
  height: 100%
}
.revenue-wrapper .top-sold-products-cont
 {
  display: flex;  
  width: 40%;
  height: 35%;
  margin: 5px;

}