.revenue-body {
  height: 100vh;
  padding: 80px 0 0 230px;

}

.revenue-wrapper {
  position: relative;
  background-color: white;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;

  border: 1px solid red;
  height: 870px;
  width:auto;
  padding: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.revenue-wrapper .revenue-section-1 {
  margin-bottom: 15px;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
  /* border: 1px dotted gray; */
}

.revenue-wrapper .revenue-compare-graph-cont {
  width: 60%;
  margin: 0 20px;
}

.revenue-wrapper .revenue-compare-graph-cont p {
  font-size: 20px;
  font-weight: 600;
  color: rgb(50, 50, 50);
  margin-bottom: 15px;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.revenue-wrapper .revenue-compare-graph-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

}

.revenue-wrapper .revenue-compare-graph-wrapper .left-side {
  width: 30%;
}

.revenue-wrapper .revenue-compare-graph-wrapper .left-side .button-cont {
  margin-bottom: 15px;
}

.revenue-wrapper .revenue-compare-graph-wrapper .left-side .calendar-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.revenue-wrapper
  .revenue-compare-graph-wrapper
  .left-side
  .calendar-cont
  .react-datepicker-wrapper {
  width: 100%;
}

.revenue-wrapper
  .revenue-compare-graph-wrapper
  .left-side
  .calendar-cont
  .react-datepicker-wrapper
  input {
  height: 30px;
}

.revenue-wrapper .revenue-compare-graph-wrapper .graph-cont {
  width: 60%;

}



.revenue-wrapper .revenue-per-dep-cont {
  display: flex;  
  width: auto;
  height: 30%;
  margin: 5px;

}

.revenue-wrapper .revenue-per-dep-cont .rev-per-dep {

  margin: 0 20px;
  padding: 20px;
  width:100%;
  height: 30%;
}

.revenue-wrapper .top-sold-products-cont .top-sold-products{
  padding: 10px;
  width: 100%;
  height: 100%
}
.revenue-wrapper .top-sold-products-cont
 {
  display: flex;  
  width: 40%;
  height: 35%;
  margin: 5px;

}