.dashboard-body {
  height: 100vh;
  padding: 80px 0 0 230px;
}

.dashboard-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid red;
  height: 100%;
  padding: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  -webkit-animation-name: dashboard-transform;
  animation-name: dashboard-transform;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes dashboard-transform {
  from {
    -webkit-transform: translateY(850px);
    transform: translateY(850px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes dashboard-transform {
  from {
    -webkit-transform: translateY(850px);
    transform: translateY(850px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.dashboard-wrapper .dashboard-widget-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 5px;
  border: 1px dotted grey;
  padding: 25px 0;
}

.dashboard-wrapper .demography-cont,
.dashboard-wrapper .lower-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border: 1px dotted grey;
  padding: 30px 0;
}

.dashboard-wrapper .demography-cont {
  margin-bottom: 5px;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.dashboard-wrapper .demography-cont .target-group-cont {
  width: 40%;
}

.dashboard-wrapper .demography-cont .demographic-map-cont {
  width: 40%;
}

.dashboard-wrapper .demography-cont .target-group-cont p {
  font-size: 20px;
  font-weight: 600;
  color: rgb(50, 50, 50);
  position: relative;
  display: block;
  margin-bottom: 15px;
  z-index: 1;
}

.dashboard-wrapper .demography-cont h2,
.dashboard-wrapper .lower-cont h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 60px;
}
