.dashboard-body {
  height: 100%;
  padding: 80px 0 0 230px;
}

.dashboard-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid red;
  height: 100%;
  padding: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  -webkit-animation-name: dashboard-transform;
  animation-name: dashboard-transform;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes dashboard-transform {
  from {
    -webkit-transform: translateY(850px);
    transform: translateY(850px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes dashboard-transform {
  from {
    -webkit-transform: translateY(850px);
    transform: translateY(850px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.dashboard-wrapper .dashboard-widget-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 5px;
  /* border: 1px dotted grey; */
  padding: 25px 0;
}

.dashboard-wrapper .demography-cont,
.dashboard-wrapper .lower-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  -webkit-box-pack: justify;
  justify-content: space-between;
  /* border: 1px dotted grey; */
  padding: 30px 0;
  
}

.dashboard-wrapper .demography-cont {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.dashboard-wrapper .demography-cont {
  margin-bottom: 5px;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.dashboard-wrapper .demography-cont .target-group-cont {
  width: 40%;
}

.dashboard-wrapper .demography-cont .target-group-cont p {
  font-size: 20px;
  font-weight: 600;
  color: rgb(50, 50, 50);
  position: relative;
  display: block;
  margin-bottom: 15px;
  z-index: 1;
}

.dashboard-wrapper .demography-cont h2,
.dashboard-wrapper .lower-cont h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 60px;
}

.dashboard-wrapper .demography-cont .demographic-map-cont {
  width: 40%;
}

.dashboard-wrapper .demography-cont .demographic-map-cont p {
  font-size: 20px;
  font-weight: 600;
  color: rgb(50, 50, 50);
  margin-bottom: 15px;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.dashboard-wrapper .demography-cont .demographic-map-cont p:hover,
.dashboard-wrapper .demography-cont .demographic-map-cont p:active {
  color: hsl(199, 100%, 30%);
}

.dashboard-wrapper
  .demography-cont
  .demographic-map-cont
  .demographic-map-wrapper {
  width: 100%;
  height: 280px;
  border-radius: 20px;
  border: 2px solid transparent;
  overflow:   hidden;
  -webkit-box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.75);
  -webkit-animation-name: demographic-map-wrapper;
  animation-name: demographic-map-wrapper;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes demographic-map-wrapper {
  from {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

@keyframes demographic-map-wrapper {
  from {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

.dashboard-wrapper
  .demography-cont
  .demographic-map-cont
  .demographic-map-wrapper
  div[role="button"]
  img {
  border-radius: 50%;
  background-color: hsl(120, 100%, 23%);
  opacity: 0.7;
}

.dashboard-wrapper
  .demography-cont
  .demographic-map-cont
  .demographic-map-wrapper
  div[role="button"]
  img:hover {
  background-color: hsl(120, 100%, 13%);
}

.dashboard-wrapper .lower-cont {
  height: 100%;
}

.dashboard-wrapper .lower-cont .top-of-anything-cont,
.dashboard-wrapper .lower-cont .revenue-per-department-cont {
  width: 45%;
  height: 100%;
  margin: 0 20px;
}

.dashboard-wrapper .lower-cont .top-of-anything-cont p,
.dashboard-wrapper .lower-cont .revenue-per-department-cont p {
  font-size: 20px;
  font-weight: 600;
  color: rgb(50, 50, 50);
}

.rev-per-dep {
  margin: 0 20px;
  padding: 20px;
}

.rev-per-dep .button-cont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 10px;
}


.rev-per-dep .button-cont .widget-button {
  
  width: 35%;
  height: 15px;
  font-size: 10px;
  font-weight: 600;
  background-color: rgb(173, 173, 173);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.rev-per-dep .button-cont .widget-button:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.rev-per-dep .button-cont .widget-button.selected {
  background-color: hsl(199, 100%, 50%);
}