.average-metrics-widget-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 15%;
    max-width: 25%;
    height: 150px;
    margin: 0 20px;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.75);
            box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.75);
}


.average-metrics-widget-wrapper .button-cont {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 10px;
}

.average-metrics-widget-wrapper .button-cont .widget-button {
    width: 45%;
    height: 15px;
    font-size: 10px;
    font-weight: 600;
    background-color: rgb(173, 173, 173);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.average-metrics-widget-wrapper .button-cont .widget-button:hover {
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
}

.average-metrics-widget-wrapper .button-cont .widget-button.selected {
    background-color: hsl(199, 100%, 50%);
}

.average-metrics-widget-amount-cont {
    -webkit-animation-name: cont-appear;
            animation-name: cont-appear;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: .3s;
            animation-delay: .3s;
}

@-webkit-keyframes cont-appear {
    from {
        opacity: 0;
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes cont-appear {
    from {
        opacity: 0;
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

.average-metrics-widget-title a {
    font-size: 20px;
    font-weight: 600;
    color: rgb(50, 50, 50);
    cursor: pointer;
}

.average-metrics-widget-title a:active {
    color: hsl(199, 100%, 30%);
}

.average-metrics-widget-amount-cont {
    margin: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.average-metrics-widget-amount {
    font-size: 30px;
    font-weight: 600;
}

.average-metrics-widget-amount-rate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 20px;
}

.arrow-icon {
    font-size: 14px;
    margin-left: 5px;
}

.arrow-icon.arrow-negative {
    color: red;
}

.arrow-icon.arrow-positive {
    color: green;
}

.average-metrics-widget-compare-title {
    font-size: 15px;
    color: grey;
}